body {
    background-color: #202020;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: #FFF;
    text-align: center;
}

.title {
    font-size: 3em;
    background-color: #303030;
    padding: 2rem;
    margin: 0;
}

.section-1 {
    border-bottom: 2px solid #85e46e;
}

.reducer {
    font-family: 'Montserrat', sans-serif;
    font-weight:  bold;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: #85e46e;
}

.reducer:hover {
    cursor: pointer;
    background-color: #63aa51;
}